@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: black;
    padding: 0 5%;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: white;
    list-style-type: none;
    border: none !important;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.contain-all {
    padding: 0 5%;
}

.container {
    margin: 5% auto;
    height: auto;
    border: 3px solid rgb(166, 223, 43);
    display: flex;
    position: relative;
    overflow: hidden;
    padding-top: 55px;
}
#fullpage .contact-btn{
    display: none;
}
nav {
    margin: 0 auto;
    height: 55px;
    border: 2px solid red;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /*when use position: sticky don't forget top: 0*/
    z-index: 100;
}

/* nav ul {
    display: flex;
    list-style: none;
    width: 474px;
    border: 2px solid rgb(114, 56, 173);
    justify-content: space-around;
} */
.contain-btn-full{
    display: none;
}

.contain-btn{
    display: flex;
    border: 2px solid rgb(147, 227, 8);
}
.contain-btn #sortbar{
    display: none;
}
.contain-btn #cancel{
    display: none;
}
.contact-btn-full a{
    width: 100vw;
}

.nav-btn{
    border: 2px solid rgb(255, 0, 0);
    height: 25px;
    width: 8.3vw ;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}
nav i{
    font-family: FontAwesome;
    /* color:rgb(233, 93, 93); */
    font-size:20px;
    border: 1px solid rgb(6, 255, 255);
   
}

.nav-text{
    text-transform: uppercase;
    display: none; 
    opacity: 0;
    font-size: 14px;

}

.nav-btn:hover .nav-text{
    display: block;
    opacity: 100%;
    transition: 0.5s;
    color: black;
    justify-content: center;
    font-weight: 700;
}
.nav-btn:hover{
    display: flex;
    background-color: aliceblue;
    border-radius: 5px;
    opacity: 100%;
    align-items: center;
    transition: 0.35s;
}
.nav-btn:hover  i{
    display: none;
    opacity: 0%;
}

.logo h3 {
    font-family: 'Alex Brush', cursive;
    font-size: 32px;
}

.contact {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    padding: 7%;
    z-index: 0;
    align-items: flex-end;
    height: 100%;
}

.contact ul {
    height: 380px;
}

.contact ul li i{
    font-family: FontAwesome;
    font-size: 40px;
    margin-bottom: 45px;
    background-color: none;
    /* overflow: hidden;  */
}

.contact ul li i:hover {
    transform: translateY(5px);
}
#github i:hover{
    color: #e6efff;
}
#facebook i:hover{
    color: #4267B2;
}
#instagram i:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.contact ul li .contact-mail {
    writing-mode: vertical-rl;
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.contact ul li .contact-mail:hover {
    transform: translateY(5px);
}

.line {
    background-color: white;
    width: 1px;
    height: 100%;
    margin: 0 auto;
}

.home-info {
    margin-top: 186px;
    max-width: 474px;
    border: 1px solid rgb(21, 208, 255);
    display: inline-block;
    position: relative;
}

.home-title h1 {
    margin-top: 54px;
    font-size: 100px;
    text-align: right;
    line-height: 100px;
    text-shadow: 5px 2px #ad8b73;
}

.home-content {
    margin: 54px 0;
    text-align: justify;
    font-size: 18px;
    text-indent: 10e;
}

.home-scroll {
    text-align: center;
    text-transform: uppercase;
}

.home-scroll i{
    margin-top: 25px;
    font-size: 38px;
}

.home-personal-img {
    border: 3px solid rgb(209, 74, 200);
    position: relative;
    display: flex;
    flex-direction: column;
}

.home-personal-img img {
    width: 100%;
    transform: scaleX(-1);
    /* filter: grayscale(100%); */
    z-index: -1;
}

.home-personal-img img:hover {
    filter: none;
}

education section{
    width: 100%;
    text-align: center;
}

 section .line{
    z-index: -1;
    width: 0.2vw;
    height: 100%;
    display: inline;
    position:absolute;
    margin: 0 auto;
}
#about .container{
    flex-wrap: wrap;
}
.about-container{
    display: flex;
    margin-top: 50px;
    flex-direction: row-reverse;
}
.about-title h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 5px 2px #ad8b73;
}
.about-contain-info{
    margin-bottom: 200px;
}
.about-content{
    margin-top: 25px;
    text-align: justify;
}
.about-content2{
    margin-top: 25px;
}
.about-skill-list{
    margin: 25px 20px;
}
.about-skill-list ul {
    column-count: 2;
    line-height: 30px;
}
.about-skill-list li i{
    margin: 0 10px;   
}
.about-personal-img {
    border: 3px solid rgb(209, 74, 200);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    overflow: hidden;
    border: 5px solid #000000 !important;
    background-color: #3f2301;
    border-radius: 40px;
    box-shadow: 10px 10px #ad8b73;
}
.about-personal-img img {
    width: 250px;
    transform: scaleX(-1);
}
.about-personal-img:hover{
    box-shadow: none;
    transform: translate(10px, 10px);
    
}

.edu-title h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 5px 2px #ad8b73;
}

.edu-content-box{
    border:3px solid rgb(255, 136, 0);
    padding: 10px;
}

.edu-group-content{
    border:3px solid rgb(255, 0, 102);
    padding-top: 15%;
    /* margin: 15% 0; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.reverse{
    flex-direction: row-reverse !important;
}
.edu-date{
    border:3px solid rgb(209, 74, 200);
    width: 33.3%;
    text-align: left;
    
}

.edu-img {
    border:3px solid rgb(237, 145, 8);
    width: 33.3%;
    text-align: center; 
}
.edu-img img{
    border:3px solid aliceblue !important;
    max-width: 8.33vw;
    background-color: aliceblue;
    border-radius: 50%;
}
.edu-img img:hover{
    transform: rotateY(180deg);
    transition: transform 0.8s;
}
.edu-img img:not(:hover){
    transform: rotateY(0deg);
    transition: transform 0.8s;
}
.edu-box{
    border:5px solid rgb(0, 0, 0) !important;
    display: block;
    width: 33.3%;
    background-color: #3f2301;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 10px 10px #ad8b73;
}
.edu-box:hover{
    box-shadow:none;
    transform: translate(10px, 10px);
    /* transition: transform 0.8s; */
}
.edu-content-title h3{
    border:3px solid rgb(74, 209, 175);
    text-align: left;
}
.edu-content p{
    border:3px solid rgb(40, 146, 21);
    display: flex;
    text-align: left;
}


portfolio .container{
    display: block;
}

.port-title h1{
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    text-shadow: 5px 2px #ad8b73;
}
.port-info-box{
    border:3px solid rgb(55, 137, 36);
    display:flex;
    flex-direction: row;
    margin: 10% 0;
    margin-bottom: 200px;
}
.port-contain-card{
    border:3px solid rgb(228, 74, 43) ;
    display: flex;
    right: 0;
    width: 70%;
}
.port-content{
    border:3px solid rgb(228, 130, 43) ;
    background-color: transparent;
    width: 30%;
    height: 30vh;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.port-content-title{
    line-height: 34px;
}
.port-content-title h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.port-content-title p{
    font-size: 22px;
}
.github-btn{
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    /* background-color: #e6efff; */
    bottom: 0;
}
.port-card{
    border:3px solid rgb(43, 228, 108) ;
    display: flex;
    width: 10vw;
    height: 90%;
    transform: skewY(-25deg);
    transition: 0.8s;
  }
.port-card img{
    width: 100%;
  }
.port-card:hover{
    width: 100vw;
    height: auto;
    max-height: 450px;
    transform: none;
  }

  
.left{
    left: 0px;
}

.right{
    right: 0px;
}

.start{
    display: flex;
    justify-content: flex-start;
}
.end{
    display: flex;
    justify-content: flex-end;
}

contact section{
    width: 100%;
}

.contact-info-box{
    width: 100%;
    border:3px solid rgb(2, 90, 138);
}

.contact-title{
    text-align: center;
    text-transform: uppercase;
    border:3px solid rgb(2, 90, 138);

}
.contact-title h1{
    font-size: 50px;
    text-shadow: 5px 2px #ad8b73;
    margin-bottom: 50px;
}
.contact-content{
    text-align: center;
    border:3px solid rgb(155, 94, 20);
    padding: 10%;
}
.contact-btn{
    /* text-align: center; */
    border:2px solid rgb(180, 121, 182);
    padding: 10px;
    border-radius: 10px;
    display:flex;
    margin: 5% auto;
    width: 150px;
    background-color: hsl(220, 46%, 48%, 0.4);
    justify-content: center;
    
}

.contact-btn:hover{
    background-color: hsl(220, 46%, 48%, 0.6);
}

.contact-contain-icon{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    visibility: hidden;
}
.contact-contain-icon i{
    margin: 15px;
}

@media only screen and (max-width: 700px) {
    body{
        padding: 0 25px;
        margin: 0;
    }
    .container{
        margin: 0;
        padding: 0;
    }
    .col-mo-1 {
        width: 8.33%;
    }
    
    .col-mo-2 {
        width: 16.66%;
    }
    
    .col-mo-3 {
        width: 25%;
    }
    
    .col-mo-4 {
        width: 33.33%;
    }
    
    .col-mo-5 {
        width: 41.66%;
    }
    
    .col-mo-6 {
        width: 50%;
    }
    
    .col-mo-7 {
        width: 58.33%;
    }
    
    .col-mo-8 {
        width: 66.66%;
    }
    
    .col-mo-9 {
        width: 75%;
    }
    
    .col-mo-10 {
        width: 83.33%;
    }
    
    .col-mo-11 {
        width: 91.66%;
    }
    
    .col-mo-12 {
        width: 100%;
    }
    .contact{
        display: none;
    }
    .contain-btn #home-btn{
        display: none;
    }
    .contain-btn #about-btn{
        display: none;
    }
    .contain-btn #education-btn{
        display: none;
    }
    .contain-btn #portfolio-btn{
        display: none;
    }
    .contain-btn #contact-btn{
        display: none;
    }
    .contain-btn #sortbar{
        display: block;
    }
   
    #home section{
        display: flex;
        justify-items: center;
        flex-direction: column;
        width: inherit;
        top: 40px;
        margin-bottom: 25%;
        /* margin: 0 25px; */
    }

    .home-personal-img{
        position: absolute;
        z-index: -1;
        align-items: center;
        flex-wrap: nowrap;
    }
    .home-info{
        align-items: stretch;
        margin-top: 250px;
        /* z-index: 3; */
    }
    .home-title h1{
        font-size: 80px;
        text-align: center;
        margin-top: 45px;
    }
    about .container{
        justify-content: center;
        margin-bottom: 100px;
    }
    .about-title{
        margin-bottom: 20px;
    }
    .about-container{
        margin: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-personal-img{
        margin: 0;
    }
    .about-contain-info{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .edu-content-box{
        padding: 0;
        align-content: center;
        margin-bottom: 100px;
    }
    .edu-group-content{
        padding: 0;
        margin: 0;
        justify-items: center;
        flex-direction: column !important;
    }
    .edu-date{
        width: auto;
        margin-top: 80px;
        background-color: #000000;
    }
    .edu-img{
        width: 33.3vw;
        padding: 40px 0;
    }
    .edu-img img{
        max-width: 33.3vw;
    }
    .edu-box{
        width: auto;
    }
    section .line{
        width: 0.7vw;
    }

    portfolio .container{
        margin-top: 70px;
    }
    .port-info-box{
        flex-direction: column !important;
    }
    .port-content{
        width: 100%;
    }
    .port-contain-card{
        flex-direction: column !important;
        width: 100%;
    }
    .port-card{
        width: 100%;
        margin-top: 10px;
        transform: none;
    }
    .port-card:hover{
        width: auto;
    }


    contact .container{
        margin-bottom: 200px;
    }
    .contact-contain-icon{
        visibility: visible;
    }

    .fullpage{
        width: 100vw !important;
        height: fit-content !important;
        background-color: #fd5949;
        position: fixed;
        z-index: 100;
        top: 55px;
        left: 0;
        /* padding: 10%; */
    }
    #fullpage .contain-btn-full{
        display: none;
        flex-direction: column;
    }
    
    #fullpage .nav-btn{
        background-color: #000000;
        width: 100vw;
        border: 2px solid rgb(255, 255, 255) !important;
        height: 10vh;
        display: flex;
        align-items: center;
    }
    #fullpage i{
        font-size: 50px;
    }
    #fullpage .nav-btn:hover .nav-text{
        display: block;
        opacity: 100%;
        transition: 0.5s;
        color: white;
        justify-content: center;
        font-weight: 700;
        font-size: 30px;
    }
       
}